//colors
$primaryColor: #18A4E1;
$secondaryColor: #0353B4;
$darkTextColor: #373941;
$lightTextColor: #6E727E;
$greenColor: #27AE60;
$redColor: #EB5757;

$paddingBlock: 30px;
$mainTransition: 0.3s ease;
$cardBorder: 1px solid #F7F7F7;

// min-width breakpoints
$break-xxs: 360px;
$break-xs: 420px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1600px;

// max-width breakpoints
$break-xs-max: 575px;
$break-sm-max: 767px;
$break-md-max: 991px;
$break-lg-max: 1199px;
