/*-------- Landings ---------*/
#banner-top {
    position: relative;
    margin: 0 auto;
    height: 907px;
    width: 100%;
}

#banner-top.flat-bg {
    background: transparent url('/image/catalog/landing_flat/pic_bathroom@2x.jpg') 34% 50% no-repeat;
    background-size: cover;
}

#banner-top.cottage-bg {
    background: transparent url('/image/catalog/landing_cottage/pic_cottage@2x.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#banner-top .opacity-bg {
    top: 231px;
    left: 0px;
    min-width: 924px;
    height: 907px;
    background-color: #dbe4eb;
    opacity: 0.53;
}

#banner-top .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#banner-top .wrapper {
    max-width: 641px;
    padding-left: 17px;
}

#banner-top .first-title {
    margin-top: 121px;
    font: normal normal bold 70px/88px Cera Pro Bold;
    letter-spacing: 0px;
    color: #005D8F;
}

#banner-top .second-title {
    margin-top: 43px;
    font: normal normal bold 32px/40px Cera Pro Bold;
    letter-spacing: 0px;
    color: #005D8F;
}

#banner-top .button a {
    margin-top: 248px;
    padding: 20px 100px;
    background-color: #005D8F;
    font-size: 20px;
    text-transform: uppercase;
}

#banner-top .button a:hover{
    color: #ffffff;
}

@media (max-width: 768px) {
    #banner-top .wrapper {
        padding-left: 0;
        text-align: center;
    }
    #banner-top .first-title {
        margin-top: 97px;
    }
    #banner-top .button a {
        margin-top: 160px;
    }
}
@media (max-width: 470px) {
    #banner-top {
        margin-top: 30px;
        width: calc(100% - 30px);
        height: 613px;
    }
    #banner-top.cottage-bg {
        background: transparent url('/image/catalog/landing_cottage/pic_cottage_mobile.jpg') 34% 50% no-repeat;
        background-size: cover;
    }
    #banner-top .opacity-bg {
        display: none;
    }
    #banner-top .wrapper {
        padding-left: 0;
        text-align: center;
    }
    #banner-top.cottage-bg .wrapper {
        padding: 0 28px;
    }
    #banner-top.cottage-bg .first-title {
        margin-top: 45px;
    }
    #banner-top.cottage-bg .second-title {
        margin-bottom: 225px;
    }
    #banner-top.cottage-bg .button {
        position: absolute;
        top: 464px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #banner-top .first-title {
        margin-top: 67px;
        font: normal normal bold 30px/38px Cera Pro Bold;
        text-align: center;
    }
    #banner-top .second-title {
        #margin-bottom: 200px;
        font: normal normal bold 20px/25px Cera Pro Bold;
        text-align: center;
    }
    #banner-top .button {
        position: absolute;
        top: 464px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #banner-top .button a {
        margin-top: 0;
        padding: 13px 23px;
        border-radius: 23px;
    }
}

@media (min-width: 576px) {
    .opacity-bg {
        width: calc(688px + (100% - 540px)/2);
    }
}
@media (min-width: 768px) {
    .opacity-bg {
        width: calc(688px + (100% - 720px)/2);
    }
}
@media (min-width: 992px) {
    .opacity-bg {
        width: calc(688px + (100% - 960px)/2);
    }
}
@media (min-width: 1200px) {
    .opacity-bg {
        width: calc(688px + (100% - 1140px)/2);
    }
}
@media (min-width: 1600px) {
    .opacity-bg {
        width: calc(688px + (100% - 1440px)/2);
    }
}




#landing-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
}
#landing-popup .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
#landing-popup .order {
    position: relative;
    width: 30%;
    min-width: 300px;
    padding: 15px;
    background: #dbe4ebfe;
    border: 2px solid #678aa7;
    border-radius: 5px;
    color: #6286a4;
    font-size: 20px;
    line-height: 1;
    text-align: center;
}
#landing-popup .title {
    margin-top: 15px;
    margin-bottom: 3px;
    color: #005d8f;
    text-transform: uppercase;
}
#landing-popup .title,
#landing-popup .order input[type="text"],
#landing-popup .order input[type="submit"]
{
    font-family: "Cera Pro Medium";
}
#landing-popup .wrapper {
    width: 81%;
    margin: 0 auto;
}
#landing-popup .order p {
    margin-top: 30px;
    margin-bottom: 9px;
    font-size: 14px;
    text-align: left;
}
#landing-popup .order p.bigger-marg {
    margin-top: 38px;
}
#landing-popup .order input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #85d0f4;
    border-radius: 10px;
    color: #005d8f;
    font-size: 14px;
    font-family: Arial;
}
#landing-popup .order textarea {
    height: 5em;
}
#landing-popup .order input[type="submit"] {
    display: inline-block;
    margin: 38px 0;
    padding: 6px 15px;
    background-color: #005d8f;
    border: 1px solid transparent;
    border-radius: .3rem;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    transition: 0.2s linear;
}
#landing-popup .order input[type="submit"]:hover {
    background-color: #5fc3e1; /*rgb(65, 132, 213);*/
}
#landing-popup .close-btn{
    #float: right;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    #landing-popup .order {
        #width: 40%;
    }
}