/*-------- Landings ---------*/
.fm-btn:hover {
    color: #fff;
}

#banner-top {
    position: relative;
    margin: 0 auto;
    height: 907px;
    width: 100%;
}

#banner-top.flat-bg {
    background: transparent url('/image/catalog/landing_flat/pic_bathroom@2x.jpg') 34% 50% no-repeat;
    background-size: cover;
}

#banner-top.cottage-bg {
    background: transparent url('/image/catalog/landing_cottage/pic_cottage@2x.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#banner-top .opacity-bg {
    top: 231px;
    left: 0px;
    min-width: 924px;
    height: 907px;
    background-color: #dbe4eb;
    opacity: 0.53;
}

#banner-top .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#banner-top .wrapper {
    max-width: 641px;
    padding-left: 17px;
}

#banner-top .first-title {
    margin-top: 121px;
    font: normal normal bold 70px/88px Cera Pro Bold;
    letter-spacing: 0px;
    color: #005D8F;
}

#banner-top .second-title {
    margin-top: 43px;
    font: normal normal bold 32px/40px Cera Pro Bold;
    letter-spacing: 0px;
    color: #005D8F;
}

#banner-top .button a {
    margin-top: 248px;
    padding: 20px 100px;
    background-color: #005D8F;
    font-size: 20px;
    text-transform: uppercase;
}

#banner-top .button a:hover{
    color: #ffffff;
}



@media (min-width: 576px) {
    .opacity-bg {
        width: calc(688px + (100% - 540px)/2);
    }
}
@media (min-width: 768px) {
    .opacity-bg {
        width: calc(688px + (100% - 720px)/2);
    }
}
@media (min-width: 992px) {
    .opacity-bg {
        width: calc(688px + (100% - 960px)/2);
    }
}
@media (min-width: 1200px) {
    .opacity-bg {
        width: calc(688px + (100% - 1140px)/2);
    }
}
@media (min-width: 1600px) {
    .opacity-bg {
        width: calc(688px + (100% - 1440px)/2);
    }
}

.landing-section{
    background-color: #dbe4eb;
}

.landing-title{
    text-align: center;
    position: relative;
}
.title-big{
    font-size: 300px;
    color: #fff;
    font: normal normal bold 300px Cera Pro Bold;
    padding: 40px 0;
    opacity: 0.38;
}
.title-inner{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: #005D8F;
}
.title-normal{
    font: normal normal bold 62px/1.258 Cera Pro Bold;
    text-transform: uppercase;
}
.title-small{
    font: 32px/1.25 Cera Pro Medium;
    margin-top: 30px;
    text-transform: uppercase;
}

/* why section */
#why .row{
    justify-content: center;
}
.why-card{
    width: calc(33.3% - 45px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
.why-card + .why-card{
    margin-left: 45px;
}

.why-card img{
    width: 100%;
}

.why-card span{
    color: #005D8F;
    font: 26px/1.27 Cera Pro Medium;
    margin-top: 37px;
}
.why-sense{
    margin-top: 64px;
    font: 32px/1.25 Cera Pro Medium;
    width: 1060px;
    padding: 36px 98px 56px;
    border-top: 4px solid #fff;
    text-align: center;
    color: #005D8F;
    text-transform: uppercase;
}
.decision{
    padding-top: 65px;
    padding-bottom: 67px;
    text-align: center;
    color: #005D8F;
    position: relative;
    box-shadow: 0px 8px 10px #00000024;
    background-color: #fff;
    background-image: url('/image/catalog/landing_flat/bar1.png');
    background-size: cover;
}
.decision img{
    position: absolute;
    top: 50%;
    transform: translate(-443px, -61%);
    width: 630px;
    right: 50%;
}
.decision-big{
    text-transform: uppercase;
    font: 62px/1.27 Cera Pro Bold;
    margin-bottom: 40px;
}
.decision-small{
    text-transform: uppercase;
    font: 52px/1.25 Cera Pro Medium;
}

/* preferences */
#preferences{
    padding-bottom: 94px;
}
.preferences-item + .preferences-item{
    margin-top: 126px;
}
.preferences-item .container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    --img-width: 400px;
}
.preferences-item img{
    width: var(--img-width);
    order: 2;
}
.peferences-item-text{
    width: calc(100% - var(--img-width));
    order: 3;
}
.preferences-title,
.preferences-description,
.preferences-text{
    padding-left: 90px;
    padding-right: 44px;
    color: #005D8F;
}
.peferences-item-text.left{
    order: 1;
}
.preferences-title{
    width: 356px;
    padding-bottom: 19px;
    font: 32px/1.25 Cera Pro Bold;
    /* text-align: center; */
    border-bottom: 4px solid #fff;
    margin-bottom: 36px;
    display: inline-block;
    text-transform: uppercase;
}
.peferences-item-text.left .preferences-title{
    width: 100%;
}
.preferences-description{
    font: 26px/1.25 Cera Pro Medium;
    display: block;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.preferences-text{
    font: 26px/1.27 Cera Pro Medium;
}
.lets-go{
    box-shadow: 0px 5px 5px #00000033;
    padding-top: 51px;
    padding-bottom: 59px;
    background-color: #fff;
    text-align: center;
    background-image: url('/image/catalog/landing_flat/bar2.png');
    background-size: cover;
}
.lets-go .container{
    position: relative;
}
.lets-go-img-right {
    width: 100%;
    position: absolute;
    right: 0;
    transform: translate(50%,-42%);
    width: 100%;
}
.lets-go .decision-small{
    color: #005D8F;
    margin-bottom: 36px;
}

.lets-go .button a{
    padding: 20px 100px;
    background-color: #005D8F;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

/* how */
#how img{
    width: 100%;
}
#categories .landing-title{
    margin-top: 111px;
    margin-bottom: 96px;
}
#categories .row{
    justify-content: space-between;
}
#categories .title-inner{
    position: static;
    transform: none;
}
.categories-card{
    width: calc(20% - 1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #00000033;
    padding-bottom: 53px;
    text-align: center;
}
.categories-card img{
    padding-top: 31px;
    padding-bottom: 53px;
    height: 300px;
}
.categories-card .category-name{
    margin-top: auto;
    color: #005D8F;
    font: 20px/1.25 Cera Pro Medium;
    text-transform: uppercase;
}
.categories-card .category-name a{
    border-bottom: 2px solid #005D8F;
}
.categories-card:hover{
    opacity: .75;
}
#variants .landing-title{
    margin-top: 111px;
    margin-bottom: 96px;
}
#variants .title-inner{
    position: static;
    transform: none;
}
#variants .row{
    justify-content: space-between;
}
.variants-card{
    width: calc(25% - 9px);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 14px #0000001F;
    justify-content: flex-end;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 56px;
}
.variants-title{
    font: 30px/1.26 Cera Pro Bold;
    color: #005D8F;
}
.variants-card img{
    height: 210px;
}
.variants-btn{
    border-radius: 20px;
    background-color: #005D8F;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 35px;
    font: 17px/1.25 Cera Pro Medium;
    margin-top: 60px;
}
.variants-btn:hover{
    background-color: #fff;
    color: #005D8F;
    -webkit-box-shadow: inset 0px 0px 0px 2px #005D8F;
    -moz-box-shadow: inset 0px 0px 0px 2px #005D8F;
    box-shadow: inset 0px 0px 0px 2px #005D8F;

}
.select{
    padding-top: 51px;
    padding-bottom: 59px;
    background-color: #fff;
    text-align: center;
    background-image: url('/image/catalog/landing_flat/bar3.png');
    background-size: cover;
    margin-top: 195px;
    box-shadow: 0px -2px 5px #00000033;
    margin-bottom: -30px;
}
.select .decision-small{
    color: #005D8F;
    margin-bottom: 36px;
}

.select .button a{
    padding: 20px 100px;
    background-color: #005D8F;
    font-size: 20px;
    text-transform: uppercase;
}

@media (max-width: 1599px) {
    .why-card span {
        font-size: 22px
    }
    .categories-card .category-name {
        font-size: 17px;
    }
    .variants-title {
        font-size: 25px
    }
    .title-big{
        font-size: 210px;
    }
    .title-normal {
        font-size: 49px;
    }
}

@media (max-width: 1199px) {
    .why-card span {
        font-size: 18px;
    }
    .why-sense {
        font-size: 27px;
    }
    .title-big{
        font-size: 168px;
    }
    .title-normal {
        font-size: 40px;
    }
    .preferences-description{
        font-size: 19px;
    }
    .preferences-text{
        font-size: 18px;
    }
    .categories-card img{
        height: 250px;
    }
    .categories-card .category-name {
        font-size: 14px;
    }
    .variants-title {
        font-size: 22px;
        text-align: center;
    }
    .variants-card img {
        height: 165px;
    }
}

@media (max-width: 991px) {
    .title-big {
        font-size: 72px;
    }
    .title-normal {
        font-size: 16px;
    }
    .title-small{
        font-size: 7px;
        margin-top: 6px;
    }
    .why-card{
        width: calc(100% - 30px);
    }
    .why-card span {
        font-size: 20px;
    }
    .why-card span + span{
        margin-top: 17px;
    }
    .why-card + .why-card{
        margin: 0;
        margin-top: 35px;
    }
    .why-sense {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 35px;
        font-size: 16px;
        padding-top: 16px;
        padding-left: 0;
        padding-right: 0;
    }
    .decision {
        padding-top: 18px;
        padding-bottom: 23px
    }
    .decision-big{
        font-size: 20px;
        margin-bottom: 16px;
    }
    .decision-small{
        font-size: 16px;
    }
    .decision img {
        position: absolute;
        top: 50%;
        transform: translate(-39%, -63%);
        width: 200px;
        right: 50%;
    }
    .peferences-item-text{
        width: 100%;
    }
    .peferences-item-text.left {
        order: 3;
    }
    .preferences-title, .preferences-description, .preferences-text {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .preferences-title{
        padding-bottom: 13px;
        margin-top: 40px;
        font-size: 20px;
        margin-bottom: 26px;
        width: 100%;
    }
    .preferences-item .container {
        --img-width: 100%;
    }
    .preferences-description{
        font-size: 16px;
    }
    .preferences-text{
        font-size: 16px
    }
    .preferences-item + .preferences-item{
        margin-top: 50px;
    }
    #preferences {
        padding-bottom: 46px;
    }
    .lets-go {
        padding-top: 30px;
        padding-bottom: 36px;
    }
    .lets-go .button a{
        padding: 9px 24px;
    }
    #how img {
        margin-top: -40px;
    }
    #categories .landing-title{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    #categories .row{
        margin-left: 0;
        margin-right: 0;
    }
    .categories-card{
        width: 100%;
    }
    .categories-card img{
        height: 270px;
    }
    .categories-card .category-name {
        font-size: 20px;
    }
    .categories-card + .categories-card {
        margin-top: 7px;
    }

    .title-normal{
        font-size: 20px;
    }
    #variants .landing-title{
        margin-top: 43px;
        margin-bottom: 29px;
    }
    #variants .row{
        margin-left: 0;
        margin-right: 0;
    }
    .variants-card{
        width: 100%;
    }
    .variants-title{
        font-size: 30px;
    }
    .variants-card img{
        height: 222px;
    }
    .select{
        background-position: right bottom;
        padding-top: 30px;
        padding-bottom: 36px;
        margin-top: 30px;
    }
    .select .button a{
        padding: 10px 17px;
    }
    .lets-go-img-right{
        transform: translate(50%, 0);
    }
}

@media (max-width: 768px) {
    #banner-top .wrapper {
        padding-left: 0;
        text-align: center;
    }
    #banner-top .first-title {
        margin-top: 97px;
    }
    #banner-top .button a {
        margin-top: 160px;
    }
}

@media (max-width: 470px) {
    #banner-top {
        margin-top: 30px;
        width: calc(100% - 30px);
        height: 613px;
        box-shadow: 0px 8px 10px #00000024;
    }
    #banner-top.cottage-bg {
        background: transparent url('/image/catalog/landing_cottage/pic_cottage_mobile.jpg') 34% 50% no-repeat;
        background-size: cover;
    }
    #banner-top .opacity-bg {
        display: none;
    }
    #banner-top .wrapper {
        padding-left: 0;
        text-align: center;
    }
    #banner-top.cottage-bg .wrapper {
        padding: 0 28px;
    }
    #banner-top.cottage-bg .first-title {
        margin-top: 45px;
    }
    #banner-top.cottage-bg .second-title {
        margin-bottom: 225px;
    }
    #banner-top.cottage-bg .button {
        position: absolute;
        top: 464px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #banner-top .first-title {
        margin-top: 67px;
        font: normal normal bold 30px/38px Cera Pro Bold;
        text-align: center;
    }
    #banner-top .second-title {
        #margin-bottom: 200px;
        font: normal normal bold 20px/25px Cera Pro Bold;
        text-align: center;
    }
    #banner-top .button {
        position: absolute;
        top: 464px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #banner-top .button a {
        margin-top: 0;
        padding: 10px 24px;
        border-radius: 23px;
    }
    .lets-go-img-right {
        transform: translate(50%, 6%);
    }
}


/*-------------- ДОМ --------------------*/
#why-well .row{
    justify-content: space-between;
}

.why-well-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(30% - 30px);
    color: #005D8F;
    text-align: center;
    margin-bottom: 97px;
}

.why-well-card-icon{
    height: 135px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}
.why-well-card-icon img{
    max-width: 100%;
    max-height: 100%;
}
.why-well-card-box-top{
    width: 100%;
    height: 300px;               /* !!!!!!!!!!!!!!!!!!!!!! */
    border-radius: 15px;
    padding: 36px 15px;
    border: 1px solid #005D8F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 43px;
}
.why-well-card-box-top-title{
    font: 26px/1.27 Cera Pro Medium;
    text-transform: uppercase;
    margin-bottom: 36px;
}
.why-well-card-box-top-text{
    font: 26px/1.27 Cera Pro Light;
    text-transform: uppercase;
}
.why-well-card-arrow{
    width: 92px;
    margin-bottom: 45px;
}
.why-well-card-text-bottom-title{
    font: 26px/1.27 Cera Pro Light;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.why-well-card-text-bottom-item{
    text-transform: lowercase;
    font: 26px/1.27 Cera Pro Light;
}
.why-well-card-text-bottom-item + .why-well-card-text-bottom-item{
    margin-top: 30px;
}
.decision.cottage{
    margin-top: 45px;
    background-image: url('/image/catalog/landing_cottage/bar1.png');
}

#categories.cottage .categories-card{
    width: calc(33.3% - 1px);
    margin-bottom: 2px;
}
#variants.cottage .variants-card{
    width: calc(33.3% - 16px);
}
#variants.cottage .variants-title{
    color: #fff;
    margin-bottom: 22px;
    font-size: 22px;
}

@media (max-width: 1599px) {
    .why-well-card-box-top-text{
        font-size: 21px;
    }
    .why-well-card-text-bottom-item{
        font-size: 21px;
    }
    .why-well-card-text-bottom-item + .why-well-card-text-bottom-item{
        margin-top: 16px;
    }
    .why-well-card-box-top-text{
        font-size: 20px;
    }
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    #why-well .row{
        margin: 0
    }
    .why-well-card{
        width: 100%;
        margin-bottom: 0;
    }
    .why-well-card + .why-well-card{
        margin-top: 41px;
    }
    .why-well-card-icon{
        height: 120px;
        width: 120px;
        margin-bottom: 27px;
    }
    .why-well-card-box-top{
        height: auto;
        padding: 26px 15px 15px;
        margin-bottom: 29px;
    }
    .why-well-card-box-top-title{
        font-size: 20px;
        margin-bottom: 14px;
    }
    .why-well-card-box-top-text{
        font-size: 20px;
    }
    .why-well-card-arrow{
        width: 70px;
        margin-bottom: 30px;
    }
    .why-well-card-text-bottom-title{
        font-size: 20px;
        margin-bottom: 7px;
    }
    .why-well-card-text-bottom-item{
        font-size: 16px;
    }
    .why-well-card-text-bottom-item + .why-well-card-text-bottom-item{
        margin-top: 7px;
    }
    #categories.cottage .categories-card{
        width: 100%;
    }
    #variants.cottage .variants-card{
        width: 100%;
    }
}

/*-------- Popup ---------*/
#landing-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
}
#landing-popup .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
#landing-popup .order,
#popup-post .post-message {
    position: relative;
    width: 30%;
    min-width: 300px;
    padding: 15px;
    background: #dbe4ebfe;
    border: 2px solid #678aa7;
    border-radius: 5px;
    color: #6286a4;
    font-size: 20px;
    line-height: 1;
    text-align: center;
}
#landing-popup .title {
    margin-top: 15px;
    margin-bottom: 3px;
    color: #005d8f;
    text-transform: uppercase;
}
#landing-popup .title,
#landing-popup .order input[type="text"],
#landing-popup .order input[type="submit"]
{
    font-family: "Cera Pro Medium";
}
#landing-popup .wrapper {
    width: 81%;
    margin: 0 auto;
}
#landing-popup .order p {
    margin-top: 30px;
    margin-bottom: 9px;
    font-size: 14px;
    text-align: left;
}
#landing-popup .order p.bigger-marg {
    margin-top: 38px;
}
#landing-popup .order input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #85d0f4;
    border-radius: 10px;
    color: #005d8f;
    font-size: 14px;
    font-family: Arial;
}
#landing-popup .order textarea {
    height: 5em;
}
#landing-popup .order input[type="submit"] {
    display: inline-block;
    margin: 38px 0;
    padding: 6px 15px;
    background-color: #005d8f;
    border: 1px solid transparent;
    border-radius: .3rem;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    transition: 0.2s linear;
}
#landing-popup .order input[type="submit"]:hover {
    background-color: rgb(65, 132, 213); /*#5fc3e1;*/
}
#landing-popup .close-btn{
    #float: right;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    cursor: pointer;
}
/*-------------- Popup-post ---------------*/
#popup-post {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
}
#popup-post .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
#popup-post .post-message {

}



@media (max-width: 1200px) {
    #landing-popup .order {
        #width: 40%;
    }
}