@font-face {
    font-family: "Cera Pro";
    src: url("/catalog/view/theme/oct_feelmart/stylesheet/fonts/CeraPro-Regular.woff");
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url("/catalog/view/theme/oct_feelmart/stylesheet/fonts/CeraPro-Medium.woff");
}


body,
header {
    background-color: #dbe4eb;
}

#top .container {
    padding-top: 8px;
}

#top .btn-link{
    font: normal normal normal 16px/20px Cera Pro;
}

.btn-link .fa-chevron-down {
    color: #2e85b4;
    font-size: 12px;
}

#top .left-side .cell,
#top .right-side .cell {
    padding: 20px 14px;
}

#top .left-side .cell,
#top .right-side .cell,
#language {
    min-width: 113px;
    max-height: 60px;
    margin-right: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px #00000029;
    text-align: center;
}

#language .btn {
    padding-right: 0;
}

#language .dropdown-menu {
    transform: translate3d(-26px, 50px, 0px) !important;
}

header {
    font: normal normal normal 20px/25px Cera Pro Medium;
}

header .container .row {
    justify-content: space-between;
}

header #logo {
    padding-left: 35px;
    padding-top: 15px;
}

header .fm-logo a {
    min-height: auto;
}

header .fm-logo img {
    box-sizing: content-box;
    max-width: 197px;
}

@media (max-width: 992px) {
    header .fm-logo img {
        box-sizing: content-box;
        max-width: 117px;
    }
}

header .btn-link {
    font-size: 20px;
}

header .fm-header-address {
    padding-left: 20px;
}

header #logo .address_title {
    display: none;
}
@media (max-width: 1600px) {
    header #logo .address_title {
        display: block;
    }
    .fm-header-address .address_title {
        display: none;
    }
}

header .fm-header-address .btn-link i {
    margin-right: 8px;
    margin-left: 8px;
    color: #2e85b4;
}

.btn-header span {
    text-decoration: none;
}

.fm-header-phones {
    padding-right: 40px;
}

header .phone-number-row {
    text-align: left;
}

.fm-phone-content .btn-link  {
    font: normal normal normal 18px/23px Cera Pro;
}

@media (max-width: 350px) {
    .fm-phone-content .btn-link {
        font-size: 14px;
    }
    .fm-header-phones {
        padding-right: 15px;
    }
}

.btn-link, .info-link {
    color: #707070;
}

.menu-row {
    background-color: #005d8f;
}

.fm-menu, .fm-search input {
    background-color: #4477A6;
}

.menu-row .fm-menu-burg-top,
.menu-row .fm-menu-burg-middle {
    width: 16px;
}
.menu-row .fm-menu-burg-bottom{
    width: 10px;
}

.menu-row .fm-menu-buttons-index {
    background-color: #4f92c0;
}

.menu-row .fm-menu-buttons-list {
    padding-right: 35px;
}


/*--------- Footer -----------*/
.fm-main-footer,
.fm-footer-subscribe {
    background-color: #1C1C1C;
}

.fm-footer-subscribe {
    box-shadow: 0px 6px 12px #00000029;
    border-bottom: 1px solid #343434;
}

.fm-footer-subscribe::before {
    color: rgba(255, 170, 165, .3);
}

/*----- Mobile devices ------*/
#language.is-mobile {
    margin-right: 0px;
    padding: 0 20px;
    #min-width: auto;
    min-width: 150px;
    background-color: initial;
    box-shadow: initial;
}

#language.is-mobile .btn-link img {
    margin-right: 0px;
    width: 24px;
    height: 24px;
}

@media (max-width: 760px) {
    #language.is-mobile {
        padding: 0 20px;
        min-width: auto;
        background-color: initial;
        box-shadow: initial;
    }
}


#fm_mobile_menu_button {
    background-color: #005D8F !important;
}

#fm_mobile_nav #fm_mobile_menu_button {
    background: #005D8F url(../img/icon_menu.svg) no-repeat center center;
}


@media (max-width: 1600px) {
    #logo {
        max-width: 25%;
    }
    .fm-header-address {
        max-width: 27.7%;
    }
}
@media (max-width: 1200px) {
    .fm-header-address {
        max-width: 31.7%;
    }
}
@media (max-width: 992px) {
    #logo {
        max-width: 100%;
        font-size: 15px;
    }
    .fm-header-address {
        max-width: 41.7%;
    }
}
@media (max-width: 400px) {
    .fm-header-phones
    {
        padding-right: 25px;
    }
    .fm-header-phones .fm-phone-content .btn-link
    {
        font-size: 15px;
    }
}
@media (max-width: 400px) {
    .fm-header-phones
    {
        max-width: 40%;
    }
}
