@font-face {
    font-family: "Cera Pro Light";
    src: url("/catalog/view/theme/oct_feelmart/stylesheet/fonts/CeraPro-Light.woff");
    font-display: swap;
}
@font-face {
    font-family: "Cera Pro";
    src: url("/catalog/view/theme/oct_feelmart/stylesheet/fonts/CeraPro-Regular.woff");
    font-display: swap;
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url("/catalog/view/theme/oct_feelmart/stylesheet/fonts/CeraPro-Medium.woff");
    font-display: swap;
}
@font-face {
    font-family: "Cera Pro Bold";
    src: url("/catalog/view/theme/oct_feelmart/stylesheet/fonts/CeraPro-Bold.woff");
    font-display: swap;
}
@font-face {
    font-family: "Cera Pro Bold Italic";
    src: url("/catalog/view/theme/oct_feelmart/stylesheet/fonts/CeraPro-BoldItalic.woff");
    font-display: swap;
}
@font-face {
    font-family: "Nexa Slab";
    src: url("/catalog/view/theme/oct_feelmart/stylesheet/fonts/NexaSlab-Regular.woff2");
    font-display: swap;
}
@font-face {
    font-family: "Nexa Slab Bold Italic";
    src: url("/catalog/view/theme/oct_feelmart/stylesheet/fonts/NexaSlabBoldItalic.woff2");
    font-display: swap;
}

body{
    overflow-x: hidden;
}
body,
header {
    background-color: #dbe4eb;
    font-family: "Cera Pro";
}

/*--------- Header -----------*/
#top{
    box-shadow: rgba(0, 0, 0, .2) 0 3px 6px;
}

#top .container {
    padding-top: 4px;
    padding-bottom: 4px;
}

#top .btn-link{
    font: normal normal normal 16px/20px Cera Pro;
    border: none;
}

.btn-link .fa-chevron-down {
    color: #2e85b4;
    font-size: 12px;
    margin-right: 0;
}

#top .left-side .cell,
#top .right-side .cell {
    padding: 20px 14px;
}

#top .left-side .cell,
#top .right-side .cell,
#language {
    min-width: 113px;
    max-height: 60px;
    margin-right: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px #00000029;
    text-align: center;
    color: #707070;
    font: normal normal normal 16px/20px Cera Pro;
}

#language .btn {
    padding-right: 0;
}

#language .dropdown-menu {
    transform: translate3d(-26px, 50px, 0px) !important;
}

header {
    font: normal normal normal 20px/25px Cera Pro;
}

header .container .row {
    justify-content: space-between;
}

header #logo {
    padding-left: 35px;
    padding-top: 15px;
}

header .fm-logo a {
    min-height: auto;
}

header .fm-logo img {
    box-sizing: content-box;
    max-width: 197px;
}

@media (max-width: 992px) {
    header .fm-logo img {
        box-sizing: content-box;
        max-width: 117px;
    }
}

header .btn-link {
    font-size: 20px;
}

header .fm-header-address {
    padding-left: 20px;
}

header #logo .address_title {
    display: none;
}
@media (max-width: 1600px) {
    header #logo .address_title {
        display: block;
    }
    .fm-header-address .address_title {
        display: none;
    }
}

header .fm-header-address .btn-link i {
    margin-right: 8px;
    margin-left: 8px;
    color: #2e85b4;
}

.btn-header span {
    text-decoration: none;
}

.fm-header-phones {
    padding-right: 40px;
}

.fm-header-phones .phone-number-row {
    text-align: left;
}

.fm-phone-content .btn-link  {
    cursor: initial;
    font: normal normal normal 18px/23px Cera Pro;
}

@media (max-width: 350px) {
    .fm-phone-content .btn-link {
        font-size: 14px;
    }
    .fm-header-phones {
        padding-right: 15px;
    }
}

.btn-link, .info-link {
    color: #707070;
}

.menu-row {
    background-color: #005d8f;
    box-shadow: rgba(0, 0, 0, .4) 0 3px 6px;
}

.fm-menu, .fm-search input {
    background-color: #4477A6;
    padding: 24px 36px;
    font: normal normal normal 16px/20px Cera Pro;
    transition: background-color .5s;
}
.fm-search input:focus {
    background-color: rgb(65, 132, 213);
}
.fm-search input::placeholder{
    color: #fff;
    opacity: 1;
}

.fm-menu .fm-menu-header{
    font: normal normal normal 18px/23px Cera Pro;
}

.menu-row .fm-menu-burg-top,
.menu-row .fm-menu-burg-middle {
    width: 16px;
}
.menu-row .fm-menu-burg-bottom{
    width: 10px;
}
.fm-menu-buttons-list .fm-menu-buttons-item::before {
    background-color: transparent;
}
.menu-row .fm-menu-buttons-index {
    background-color: #4f92c0;
    background-color: rgba(143, 198, 236, .5);
}

.menu-row .fm-menu-buttons-list {
    padding-right: 35px;
}

/* --------- slider ---------*/
#fm-slideshow-plus-0{
    box-shadow: 0px 3px 8px 0px #969696;
}
.fm-slideshow-plus-item{
    position: relative;
    background-size: cover;
}
#fm-slideshow-plus-0 .fm-slideshow-plus-item-title{
    font-size: 52px;
    font-family: "Cera Pro Bold";
    margin-top: 30px;
    position: relative;
    z-index: 10;
}

#fm-slideshow-plus-0 .fm-slideshow-plus-item-text{
    max-width: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#fm-slideshow-plus-0 .fm-slideshow-plus-item-text p{
    font-size: 24px;
    margin-top: 15px;
    font-family: "Cera Pro Bold";
    font-style: italic;
    position: relative;
    z-index: 10;
}

#fm-slideshow-plus-0 .fm-slideshow-plus-item-text a{
    margin-top: 140px;
    margin-bottom: 50px;
    border-radius: 19px;
    border-color: transparent;
    font-size: 18px;
    font-family: "Cera Pro Medium";
}

#fm-slideshow-plus-0 .fm-slideshow-plus-item-text a:hover{
    background-color: rgb(65, 132, 213) !important;
}

.slick-dots button{
    width: 14px !important;
    height: 14px !important;
    border-width: 1px !important;
}

.slick-dots button[aria-selected="true"]{
    border-color: #707070 !important;
}

.fm-slideshow-plus-item-img-outer{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: rgba(195, 214, 228, .45);
}

/* ---------promo-product-------- */
.fm-promotional-product{
    border-radius: 4px;
    box-shadow: 0 0 2px #00000033;
    position: relative;
}

.fm-promotional-product .slick-track{
    height: 100%;
}

.fm-promotional-product .fm-promotional-product-item-img{
    flex-grow: 2
}

.fm-promotional-product .fm-promotional-product-item-img a{
    display: inline-block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fm-promotional-product .fm-promotional-product-item-img img{
    max-height: 100%;
}

.fm-promotional-product .fm-promotional-product-item-img a img{
    margin: 0;
}

.fm-promotional-product-item{
    display: flex !important;
    flex-direction: column;
    height: 100%;
    padding: 0 41px;
}

.fm-promotional-product .slick-slider{
    height: 100%;
}

.fm-promotional-product .slick-list{
    height: 100%;
}

.fm-promotional-product .slick-dots{
    bottom: -30px;
    left: 30px;
    right: auto;
}

.fm-promotional-product .slick-dots li button{
    background-color: #fff;
    border: 1px solid #005D8F;
}

.fm-promotional-product .slick-dots li button:hover{
    background-color: #005D8F;
}

.fm-promotional-product .slick-dots li.slick-active button{
    background-color: #005D8F;
    border: 1px solid #005D8F !important;
}

.promotional-product-item-title a{
    font-size: 18px;
    line-height: 1.28;
    color: #005D8F;
    text-decoration: underline;
}
.fm-module-price .fm-module-price-new{
    font-size: 24px;
    color: #005D8F;
    font-family: "Cera Pro Medium";
}
.fm-module-overlay-btn{
    border-radius: 20px;
    background-color: #005D8F;
}

/* --------- advantages ----------- */
.fm-advantages-block{
    box-shadow: #00000033 0 0 4px;
}

.fm-advantages-block .fm-advantages-title{
    color: #005D8F !important;
    text-transform: uppercase;
    font-size: 18px;
}
.fm-advantages-block .fm-advantages-title a{
    color: #005D8F !important;
}
.fm-advantages-block .fm-advantages-text{
    color: #000 !important;
}

/* ---------- popular --------------- */

.fm-main-title{
    font-size: 24px;
    color: #676B6E;
    font-family: "Cera Pro Medium";
}

.fm-category-wall-box .fm-category-wall-item{
    border-radius: 4px;
    box-shadow: #00000033 0 0 4px;
    margin: 0 1px;
}
.fm-category-wall-item-title span{
    color: #005D8F;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.fm-category-wall-item ul li{
    font-size: 10px;
    line-height: 1;
}
.fm-category-wall-item ul li a{
    color: #000;
    font-size: 14px;
    line-height: 1.3;
}
.fm-category-wall-item ul li:not(:last-child) {
    margin-bottom: 0;
    border: none;
}


/* ------------about ----------- */
.fm-html-box{
    box-shadow: 0px 3px 8px 0px #969696;
}
.fm-html-box h1{
    font-size: 24px;
    color: #005D8F;
    font-family: "Cera Pro Bold Italic";
}

.fm-html-box p{
    font-family: "Cera Pro";
    color: #000;
    font-size: 16px;
}
.fm-html-box p + p{
    margin-top: 16px;
}

/* ------------liders----------- */
.fm-module-item:not(:nth-child(4n+4)){
    border: none;
}
.fm-module-item{
    margin: 1px;
    box-shadow: #00000033 0 0 4px;
    border-radius: 4px;
    position: relative;
}

.fm-module-stickers{
    position: absolute;
    left: -10px;
}
#fm-featured_1 .fm-module-stickers .fm-module-stickers-sticker{
    position: relative;
    margin-top: 5px;
    transition: opacity .3s;
    padding-left: 30px;
    border-radius: 0 3px 3px 0;
    box-shadow: 0px 0px 3px #00000033;
}

.fm-module-stickers-sticker::before{
    content: '';
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    left: 0px;
    top: -10px;
    border: 5px solid transparent;
    border-right: 5px solid #F5B5C9;
    border-bottom: 5px solid #F5B5C9;
}

.fm-module-item:hover .fm-module-stickers-sticker{
    opacity: 0;
}

.fm-module-stickers-sticker-stickers_featured::before{
    border-right-color: #5DC5E0;
    border-bottom-color: #5DC5E0;
}

.fm-module-item .fm-module-title a{
    font-size: 14px;
    font-family: "Cera Pro";
    line-height: 18px;
}

.fm-module-price .fm-module-price-new{
    font-size: 24px;
    font-family: "Cera Pro Medium";
}
#oct_banner_plus_0_1, #oct_banner_plus_0_2{
    box-shadow: 0px 3px 8px 0px #00000033;
}


/* -----banner---------- */
.fm-banner-plus-wrap{
    padding-left: 41px;
}
.fm-banner-plus-title{
    font-size: 22px;
    font-family: "Cera Pro Bold";
    max-width: 380px;
    position: absolute;
}
.fm-banner-plus-wrap{
    position: relative;
}
.fm-banner-plus-text{
    margin-top: 120px;
    font-family: "Cera Pro Bold Italic";
    font-size: 14px;
    margin-bottom: 45px;
}
.fm-banner-plus-btn{
    border-color: transparent;
    margin-bottom: 19px;
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 0px 3px 8px 0px #00000033;
}
.fm-banner-plus-btn:hover{
    background-color: rgb(65, 132, 213) !important;
}

/* ----------vitrina----------- */
#fm-featured_3 .fm-module-item{
    margin: 0 1px;
}

#fm-featured_3 .fm-item{
    margin: 1px 0;
}

/* -----------banner2-------- */
#oct_banner_plus_1_1 .fm-banner-plus-title{
    max-width: initial;
}

/* --------reviews------ */
.fm-reviews-item{
    padding: 30px;
    box-shadow: 0px 3px 8px 0px #00000033;
    margin: 1px;
}
.fm-reviews-item:not(:nth-child(4n+4)){
    border: none;
}
.fm-reviews-item-title{
    font-size: 12px;
    line-height: 15px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 24px;
}

.fm-reviews-item-text{
    font-size: 14px;
    color: #000;
    line-height: 1.2;
}
.fm-item-date i{
    font-size: 18px;
    opacity: .8;
}
.fm-reviews-item-date{
    font-size: 10px;
    color: #000;
}

/* ----------news---------- */
.fm-news-item-box{
    padding: 1px 0;
    background-color: transparent;
}
.fm-news-item-box:nth-child(2n){
    border: none;
}
.fm-news-item{
    border: none;
    margin: 0 1px;
    box-shadow: 0px 3px 8px 0px #00000033;
}

.fm-news-item-title{
    font-size: 14px;
    font-family: "Cera Pro Medium";
    text-transform: uppercase;
}
.fm-news-item-text{
    margin-top: 26px;
    color: #000;
    font-size: 14px;
    line-height: 1.3;
}
.fm-news-item .fm-news-item-info {
    max-width: 58%;
}

.fm-news-item-date i{
    font-size: 18px;
    opacity: .8;
}
.fm-news-item-date{
    font-size: 10px;
    color: #000;
}

/*--------- Footer -----------*/
.fm-main-footer,
.fm-footer-subscribe {
    background-color: #1C1C1C;
}

.fm-footer-subscribe {
    box-shadow: 0px 6px 12px #00000029;
    border: none;
}

.fm-footer-subscribe::before {
    color: rgba(255, 170, 165, .3);
    scale: .6;
}


.fm-footer-subscribe {
    color: #6286A4;
}

.fm-footer-subscribe .fm-footer-subscribe-info .fm-footer-subscribe-title {
    color: #6286A4;
    font-size: 18px;
    line-height: 23px;
    font-family: "Cera Pro Bold";
    letter-spacing: 0px;
    text-transform: uppercase;
}
.fm-footer-subscribe-text {
    font: normal normal bold 14px/17px Cera Pro;
}

.fm-footer-subscribe-subscribe .fm-footer-subscribe-subscribe-input {
    border: 1px solid #6286a4;
}

.fm-footer-subscribe-subscribe .fm-footer-subscribe-subscribe-input::placeholder {
    color: #ffffff;
    opacity: 1;
}

.fm-footer-subscribe-subscribe .form-checkbox-group label .check-box {
    border-color: #005D8F;
}

.fm-footer-subscribe-subscribe .form-checkbox-group label {
    color: #676B6E;
}


.fm-footer-subscribe-subscribe .form-checkbox-group label a {
    color: #676B6E;
    text-decoration: none;
}

/* Phones */
.fm-main-footer-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .fm-phone-box .btn-link {
    color: #FFFFFF;
    font-family: Cera Pro;
}

.fm-main-footer-contact .fm-main-footer-contact-btn{
    margin-left: 0;
    margin-top: 28px;
    margin-bottom: 40px;
}

.fm-main-footer-contact .fm-main-footer-contact-address{
    padding: 0;
    text-align: left;
}

.fm-main-footer-contact-address{
    display: flex;
    align-items: flex-start;
}

.fm-main-footer-contact-address img, .footer-mail img{
    margin-right: 5px;
}



/* Mail */
.fm-main-footer-contact-address,
.footer-mail,
.fm-main-footer-title {
    font-family: Cera Pro Medium;
}

.fm-main-footer-contact .fm-main-footer-contact-address,
.fm-main-footer-contact .fm-main-footer-contact-link {
    font-size: 16px;
}

.fm-main-footer-contact .btn-link {
    font-family: "Cera Pro Light";
}

.fm-main-footer-contact .fm-main-footer-contact-btn {
    padding-top: 7px;
    padding-bottom: 7px;
}

.fm-main-footer-contact .fm-main-footer-contact-link {
    color: #6286A4;
}

.fm-main-footer-contact .fm-main-footer-contact-link {
    text-decoration: none;
    border-bottom: 1px solid #6286A4;
}

.fm-main-footer-contact .fm-main-footer-contact-btn {
    background-color: #005d8f;
}

.fm-main-footer-contact .fm-main-footer-contact-btn, .fm-main-footer-contact .fm-main-footer-contact-btn:hover, li.fm-product-description-nav-item-active a::after, li.fm-product-description-nav-item:hover a::after, .fm-page-main-title::after, .fm-account-list .fm-account-item:hover {
    border-color: #6286a4;
    font-size: 12px;
}
.fm-main-footer-title{
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.fm-main-footer-links-list a{
    color: #fff;
    font-size: 14px;
    line-height: 2.5;
}

/* Shedule */
.fm-main-footer-title .shedule-title-text {
    text-transform: uppercase;
}

.fm-main-footer-shedule .fm-main-footer-title.row {
    margin-left: 0;
}

.fm-main-footer-shedule .shedule-img {
    padding-right: 7px;
}

.fm-main-footer-shedule-list li{
    color: #ffffff;
    font-size: 18px;
    line-height: 1.27;
}

.fm-main-footer-social-list .fm-main-footer-social-link {
    width: initial;
    height: initial;
    line-height: initial;
    border: none;
    border-radius: initial;
}

.fm-main-footer {
    padding-bottom: 195px;
}

/*-------- Corrections ---------*/
.fm-module-price .fm-module-price-new,
.fm-banner-plus-btn {
    font-weight: normal;
}

.fm-footer-subscribe-subscribe .fm-footer-subscribe-subscribe-input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px rgb(28, 28, 28);
    -webkit-text-fill-color: white;
}

/* Simplecheckout */
.simple-content .checkout-heading,
.simplecheckout-cart th {
    background-color: #4477a6!important;
}

.simple-content {
    padding-top: 10px;
}

.simplecheckout-button-block {
    background-color: initial;
}

.simplecheckout .form-control {
    border-radius: 10px;
}

#simplecheckout_shipping_address ul.dropdown-address {
    background-color: white;
    border-radius: 0px;
    box-shadow: 0px 5px 10px -5px #000000;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    position: absolute !important;
    z-index: 1000;
}

.simplecheckout ul.dropdown-address {
    display: none;
    position:relative;
    top: 40px;
    left: 2%;
    width: 96%;
}

.simplecheckout ul.dropdown-address li {
    padding: 5px 10px;
    background-color: #f8f8f8;
    color: #005d8f;
    list-style-type: none;
}

.product-layout .fm-category-product-description {
    word-break: break-word;
}
.fm-category-product-description {
    word-break: break-word;
}

/*------ Mobile devices ------*/
#language.is-mobile {
    margin-right: 0px;
    padding: 0 20px;
    #min-width: auto;
    min-width: 150px;
    background-color: initial;
    box-shadow: initial;
}

#language.is-mobile .btn-link img {
    margin-right: 0px;
    width: 24px;
    height: 24px;
}

@media (max-width: 760px) {
    #language.is-mobile {
        padding: 0 20px;
        min-width: auto;
        background-color: initial;
        box-shadow: initial;
    }
}


#fm_mobile_menu_button {
    background-color: #005D8F !important;
}

#fm_mobile_nav #fm_mobile_menu_button {
    background: #005D8F url(../img/icon_menu.svg) no-repeat center center;
}


@media (max-width: 1600px) {
    #logo {
        max-width: 25%;
    }
    .fm-header-address {
        max-width: 27.7%;
    }
}
@media (max-width: 1200px) {
    .fm-header-address {
        max-width: 31.7%;
    }
    .btn-header span{
        font-size: 16px;
    }
    #fm-slideshow-plus-0 .fm-slideshow-plus-item-title {
        font-size: 40px;
        position: relative;
        z-index: 10;
        text-shadow: 0 0 2px #000000;
    }
    #fm-slideshow-plus-0 .fm-slideshow-plus-item-text p{
        position: relative;
        z-index: 10;
        text-shadow: 0 0 2px #000000;
    }
    .fm-featured_box .fm-item{
        margin-bottom: 1px;
    }
}
@media (max-width: 992px) {
    #logo {
        max-width: 100%;
        font-size: 15px;
    }
    .fm-header-address {
        max-width: 41.7%;
    }
    .fm-main-footer-shedule .fm-main-footer-title.row {
        display: flex;
        justify-content: center;
    }
    .fm_mobile_menu_info-title{
        display: none;
    }
    .fm-menu-buttons-index.fm-menu-wishlist-index, .fm-menu-buttons-index.fm-menu-cart-index{
        background-color: #4F92C0;
    }
    .fm-search input {
        padding: 0 20px
    }
    .fm-slideshow-plus-item-img-outer{
        background-color: transparent;
    }
    #fm-slideshow-plus-0 .fm-slideshow-plus-item-text p, #fm-slideshow-plus-0 .fm-slideshow-plus-item-title{
        text-shadow: none;
    }
    #fm-slideshow-plus-0 .fm-slideshow-plus-item-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fm-slideshow-plus-item-img-outer{
        position: static;
        height: 240px;
    }
    #fm-slideshow-plus-0 .fm-slideshow-plus-item-text a{
        margin-top: 40px;
    }
    .slick-dots li:last-child button{
        margin-right: 0;
    }
    .fm-promotional-product{
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .fm-promotional-product .slick-dots{
        left: 50%;
        transform: translateX(-50%);
    }

    .fm-category-wall-item{
        padding-left: 46px;
        padding-right: 46px;
    }
    .fm-category-wall-item-info ul li{
        text-align: left;
    }
    .fm-html-box{
        text-align: center;
    }
    .fm-module-price .fm-module-price-new{
        font-size: 15px;
    }
    .fm-banner-plus-title{
        position: static;
        margin-bottom: 30px;
    }
    .fm-banner-plus-text{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .fm-news-item .fm-news-item-info{
        max-width: initial;
    }
    .fm-footer-subscribe{
        box-shadow: none;
    }
    .fm-main-footer-contact{
        align-items: center;
    }
    .fm-main-footer-contact .fm-main-footer-contact-btn{
        margin-left: auto;
        margin-right: auto;
    }
    .fm-main-footer-title{
        text-align: center;
    }
    .fm-main-footer-title{
        justify-content: center;
    }
}
@media (max-width: 400px) {
    .fm-header-phones
    {
        padding-right: 25px;
    }
    .fm-header-phones .fm-phone-content .btn-link
    {
        font-size: 15px;
    }
    .fm-header-phones
    {
        max-width: 40%;
    }
}



/*-------- Landings ---------*/
.fm-btn:hover {
    color: #fff;
}

#banner-top {
    position: relative;
    margin: 0 auto;
    height: 907px;
    width: 100%;
}

#banner-top.flat-bg {
    background: transparent url('/image/catalog/landing_flat/pic_bathroom@2x.jpg') 34% 50% no-repeat;
    background-size: cover;
}

#banner-top.cottage-bg {
    background: transparent url('/image/catalog/landing_cottage/pic_cottage@2x.jpg') 50% 50% no-repeat;
    background-size: cover;
}

#banner-top .opacity-bg {
    top: 231px;
    left: 0px;
    min-width: 924px;
    height: 907px;
    background-color: #dbe4eb;
    opacity: 0.53;
}

#banner-top .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#banner-top .wrapper {
    max-width: 641px;
    padding-left: 17px;
}

#banner-top .first-title {
    margin-top: 121px;
    font: normal normal bold 70px/88px Cera Pro Bold;
    letter-spacing: 0px;
    color: #005D8F;
}

#banner-top .second-title {
    margin-top: 43px;
    font: normal normal bold 32px/40px Cera Pro Bold;
    letter-spacing: 0px;
    color: #005D8F;
}

#banner-top .button a {
    margin-top: 248px;
    padding: 20px 100px;
    background-color: #005D8F;
    font-size: 20px;
    text-transform: uppercase;
}

#banner-top .button a:hover{
    color: #ffffff;
}



@media (min-width: 576px) {
    .opacity-bg {
        width: calc(688px + (100% - 540px)/2);
    }
}
@media (min-width: 768px) {
    .opacity-bg {
        width: calc(688px + (100% - 720px)/2);
    }
}
@media (min-width: 992px) {
    .opacity-bg {
        width: calc(688px + (100% - 960px)/2);
    }
}
@media (min-width: 1200px) {
    .opacity-bg {
        width: calc(688px + (100% - 1140px)/2);
    }
}
@media (min-width: 1600px) {
    .opacity-bg {
        width: calc(688px + (100% - 1440px)/2);
    }
}

.landing-section{
    background-color: #dbe4eb;
}

.landing-title{
    text-align: center;
    position: relative;
}
.title-big{
    font-size: 300px;
    color: #fff;
    font: normal normal bold 300px Cera Pro Bold;
    padding: 40px 0;
    opacity: 0.38;
}
.title-inner{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: #005D8F;
}
.title-normal{
    font: normal normal bold 62px/1.258 Cera Pro Bold;
    text-transform: uppercase;
}
.title-small{
    font: 32px/1.25 Cera Pro Medium;
    margin-top: 30px;
    text-transform: uppercase;
}

/* why section */
#why .row{
    justify-content: center;
}
.why-card{
    width: calc(33.3% - 45px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
.why-card + .why-card{
    margin-left: 45px;
}

.why-card img{
    width: 100%;
}

.why-card span{
    color: #005D8F;
    font: 26px/1.27 Cera Pro Medium;
    margin-top: 37px;
}
.why-sense{
    margin-top: 64px;
    font: 32px/1.25 Cera Pro Medium;
    width: 1060px;
    padding: 36px 98px 56px;
    border-top: 4px solid #fff;
    text-align: center;
    color: #005D8F;
    text-transform: uppercase;
}
.decision{
    padding-top: 65px;
    padding-bottom: 67px;
    text-align: center;
    color: #005D8F;
    position: relative;
    box-shadow: 0px 8px 10px #00000024;
    background-color: #fff;
    background-image: url('/image/catalog/landing_flat/bar1.png');
    background-size: cover;
}
.decision img{
    position: absolute;
    top: 50%;
    transform: translate(-443px, -61%);
    width: 630px;
    right: 50%;
}
.decision-big{
    text-transform: uppercase;
    font: 62px/1.27 Cera Pro Bold;
    margin-bottom: 40px;
}
.decision-small{
    text-transform: uppercase;
    font: 52px/1.25 Cera Pro Medium;
}

/* preferences */
#preferences{
    padding-bottom: 94px;
}
.preferences-item + .preferences-item{
    margin-top: 126px;
}
.preferences-item .container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    --img-width: 400px;
}
.preferences-item img{
    width: var(--img-width);
    order: 2;
}
.peferences-item-text{
    width: calc(100% - var(--img-width));
    order: 3;
}
.preferences-title,
.preferences-description,
.preferences-text{
    padding-left: 90px;
    padding-right: 44px;
    color: #005D8F;
}
.peferences-item-text.left{
    order: 1;
}
.preferences-title{
    width: 356px;
    padding-bottom: 19px;
    font: 32px/1.25 Cera Pro Bold;
    /* text-align: center; */
    border-bottom: 4px solid #fff;
    margin-bottom: 36px;
    display: inline-block;
    text-transform: uppercase;
}
.peferences-item-text.left .preferences-title{
    width: 100%;
}
.preferences-description{
    font: 26px/1.25 Cera Pro Medium;
    display: block;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.preferences-text{
    font: 26px/1.27 Cera Pro Medium;
}
.lets-go{
    box-shadow: 0px 5px 5px #00000033;
    padding-top: 51px;
    padding-bottom: 59px;
    background-color: #fff;
    text-align: center;
    background-image: url('/image/catalog/landing_flat/bar2.png');
    background-size: cover;
}
.lets-go .container{
    position: relative;
}
.lets-go-img-right {
    width: 100%;
    position: absolute;
    right: 0;
    transform: translate(50%,-42%);
    width: 100%;
}
.lets-go .decision-small{
    color: #005D8F;
    margin-bottom: 36px;
}

.lets-go .button a{
    padding: 20px 100px;
    background-color: #005D8F;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

/* how */
#how img{
    width: 100%;
}
#categories .landing-title{
    margin-top: 111px;
    margin-bottom: 96px;
}
#categories .row{
    justify-content: space-between;
}
#categories .title-inner{
    position: static;
    transform: none;
}
.categories-card{
    width: calc(20% - 1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #00000033;
    padding-bottom: 53px;
    text-align: center;
}
.categories-card img{
    padding-top: 31px;
    padding-bottom: 53px;
    height: 300px;
}
.categories-card .category-name{
    margin-top: auto;
    color: #005D8F;
    font: 20px/1.25 Cera Pro Medium;
    text-transform: uppercase;
}
.categories-card .category-name a{
    border-bottom: 2px solid #005D8F;
}
.categories-card:hover{
    opacity: .75;
}
#variants .landing-title{
    margin-top: 111px;
    margin-bottom: 96px;
}
#variants .title-inner{
    position: static;
    transform: none;
}
#variants .row{
    justify-content: space-between;
}
.variants-card{
    width: calc(25% - 9px);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 14px #0000001F;
    justify-content: flex-end;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 56px;
}
.variants-title{
    font: 30px/1.26 Cera Pro Bold;
    color: #005D8F;
}
.variants-card img{
    height: 210px;
}
.variants-btn{
    border-radius: 20px;
    background-color: #005D8F;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 35px;
    font: 17px/1.25 Cera Pro Medium;
    margin-top: 60px;
}
.select{
    padding-top: 51px;
    padding-bottom: 59px;
    background-color: #fff;
    text-align: center;
    background-image: url('/image/catalog/landing_flat/bar3.png');
    background-size: cover;
    margin-top: 195px;
    box-shadow: 0px -2px 5px #00000033;
    margin-bottom: -30px;
}
.select .decision-small{
    color: #005D8F;
    margin-bottom: 36px;
}

.select .button a{
    padding: 20px 100px;
    background-color: #005D8F;
    font-size: 20px;
    text-transform: uppercase;
}

@media (max-width: 1599px) {
    .why-card span {
        font-size: 22px
    }
    .categories-card .category-name {
        font-size: 17px;
    }
    .variants-title {
        font-size: 25px
    }
    .title-big{
        font-size: 210px;
    }
    .title-normal {
        font-size: 49px;
    }
}

@media (max-width: 1199px) {
    .why-card span {
        font-size: 18px;
    }
    .why-sense {
        font-size: 27px;
    }
    .title-big{
        font-size: 168px;
    }
    .title-normal {
        font-size: 40px;
    }
    .preferences-description{
        font-size: 19px;
    }
    .preferences-text{
        font-size: 18px;
    }
    .categories-card img{
        height: 250px;
    }
    .categories-card .category-name {
        font-size: 14px;
    }
    .variants-title {
        font-size: 22px;
        text-align: center;
    }
    .variants-card img {
        height: 165px;
    }
}

@media (max-width: 991px) {
    .title-big {
        font-size: 72px;
    }
    .title-normal {
        font-size: 16px;
    }
    .title-small{
        font-size: 7px;
        margin-top: 6px;
    }
    .why-card{
        width: calc(100% - 30px);
    }
    .why-card span {
        font-size: 20px;
    }
    .why-card span + span{
        margin-top: 17px;
    }
    .why-card + .why-card{
        margin: 0;
        margin-top: 35px;
    }
    .why-sense {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 35px;
        font-size: 16px;
        padding-top: 16px;
        padding-left: 0;
        padding-right: 0;
    }
    .decision {
        padding-top: 18px;
        padding-bottom: 23px
    }
    .decision-big{
        font-size: 20px;
        margin-bottom: 16px;
    }
    .decision-small{
        font-size: 16px;
    }
    .decision img {
        position: absolute;
        top: 50%;
        transform: translate(-39%, -63%);
        width: 200px;
        right: 50%;
    }
    .peferences-item-text{
        width: 100%;
    }
    .peferences-item-text.left {
        order: 3;
    }
    .preferences-title, .preferences-description, .preferences-text {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .preferences-title{
        padding-bottom: 13px;
        margin-top: 40px;
        font-size: 20px;
        margin-bottom: 26px;
        width: 100%;
    }
    .preferences-item .container {
        --img-width: 100%;
    }
    .preferences-description{
        font-size: 16px;
    }
    .preferences-text{
        font-size: 16px
    }
    .preferences-item + .preferences-item{
        margin-top: 50px;
    }
    #preferences {
        padding-bottom: 46px;
    }
    .lets-go {
        padding-top: 30px;
        padding-bottom: 36px;
    }
    .lets-go .button a{
        padding: 9px 24px;
    }
    #how img {
        margin-top: -40px;
    }
    #categories .landing-title{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    #categories .row{
        margin-left: 0;
        margin-right: 0;
    }
    .categories-card{
        width: 100%;
    }
    .categories-card img{
        height: 270px;
    }
    .categories-card .category-name {
        font-size: 20px;
    }
    .categories-card + .categories-card {
        margin-top: 7px;
    }

    .title-normal{
        font-size: 20px;
    }
    #variants .landing-title{
        margin-top: 43px;
        margin-bottom: 29px;
    }
    #variants .row{
        margin-left: 0;
        margin-right: 0;
    }
    .variants-card{
        width: 100%;
    }
    .variants-title{
        font-size: 30px;
    }
    .variants-card img{
        height: 222px;
    }
    .select{
        background-position: right bottom;
        padding-top: 30px;
        padding-bottom: 36px;
        margin-top: 30px;
    }
    .select .button a{
        padding: 10px 17px;
    }
    .lets-go-img-right{
        transform: translate(50%, 0);
    }
}

@media (max-width: 768px) {
    #banner-top .wrapper {
        padding-left: 0;
        text-align: center;
    }
    #banner-top .first-title {
        margin-top: 97px;
    }
    #banner-top .button a {
        margin-top: 160px;
    }
}

@media (max-width: 470px) {
    #banner-top {
        margin-top: 30px;
        width: calc(100% - 30px);
        height: 613px;
        box-shadow: 0px 8px 10px #00000024;
    }
    #banner-top.cottage-bg {
        background: transparent url('/image/catalog/landing_cottage/pic_cottage_mobile.jpg') 34% 50% no-repeat;
        background-size: cover;
    }
    #banner-top .opacity-bg {
        display: none;
    }
    #banner-top .wrapper {
        padding-left: 0;
        text-align: center;
    }
    #banner-top.cottage-bg .wrapper {
        padding: 0 28px;
    }
    #banner-top.cottage-bg .first-title {
        margin-top: 45px;
    }
    #banner-top.cottage-bg .second-title {
        margin-bottom: 225px;
    }
    #banner-top.cottage-bg .button {
        position: absolute;
        top: 464px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #banner-top .first-title {
        margin-top: 67px;
        font: normal normal bold 30px/38px Cera Pro Bold;
        text-align: center;
    }
    #banner-top .second-title {
        #margin-bottom: 200px;
        font: normal normal bold 20px/25px Cera Pro Bold;
        text-align: center;
    }
    #banner-top .button {
        position: absolute;
        top: 464px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #banner-top .button a {
        margin-top: 0;
        padding: 10px 24px;
        border-radius: 23px;
    }
    .lets-go-img-right {
        transform: translate(50%, 6%);
    }
}


/*-------------- ДОМ --------------------*/
#why-well .row{
    justify-content: space-between;
}

.why-well-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(30% - 30px);
    color: #005D8F;
    text-align: center;
    margin-bottom: 97px;
}

.why-well-card-icon{
    height: 135px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}
.why-well-card-icon img{
    max-width: 100%;
    max-height: 100%;
}
.why-well-card-box-top{
    width: 100%;
    height: 300px;               /* !!!!!!!!!!!!!!!!!!!!!! */
    border-radius: 15px;
    padding: 36px 15px;
    border: 1px solid #005D8F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 43px;
}
.why-well-card-box-top-title{
    font: 26px/1.27 Cera Pro Medium;
    text-transform: uppercase;
    margin-bottom: 36px;
}
.why-well-card-box-top-text{
    font: 26px/1.27 Cera Pro Light;
    text-transform: uppercase;
}
.why-well-card-arrow{
    width: 92px;
    margin-bottom: 45px;
}
.why-well-card-text-bottom-title{
    font: 26px/1.27 Cera Pro Light;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.why-well-card-text-bottom-item{
    text-transform: lowercase;
    font: 26px/1.27 Cera Pro Light;
}
.why-well-card-text-bottom-item + .why-well-card-text-bottom-item{
    margin-top: 30px;
}
.decision.cottage{
    margin-top: 45px;
    background-image: url('/image/catalog/landing_cottage/bar1.png');
}

#categories.cottage .categories-card{
    width: calc(33.3% - 1px);
    margin-bottom: 2px;
}
#variants.cottage .variants-card{
    width: calc(33.3% - 16px);
}
#variants.cottage .variants-title{
    color: #fff;
    margin-bottom: 22px;
    font-size: 22px;
}

@media (max-width: 1599px) {
    .why-well-card-box-top-text{
        font-size: 21px;
    }
    .why-well-card-text-bottom-item{
        font-size: 21px;
    }
    .why-well-card-text-bottom-item + .why-well-card-text-bottom-item{
        margin-top: 16px;
    }
    .why-well-card-box-top-text{
        font-size: 20px;
    }
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    #why-well .row{
        margin: 0
    }
    .why-well-card{
        width: 100%;
        margin-bottom: 0;
    }
    .why-well-card + .why-well-card{
        margin-top: 41px;
    }
    .why-well-card-icon{
        height: 120px;
        width: 120px;
        margin-bottom: 27px;
    }
    .why-well-card-box-top{
        height: auto;
        padding: 26px 15px 15px;
        margin-bottom: 29px;
    }
    .why-well-card-box-top-title{
        font-size: 20px;
        margin-bottom: 14px;
    }
    .why-well-card-box-top-text{
        font-size: 20px;
    }
    .why-well-card-arrow{
        width: 70px;
        margin-bottom: 30px;
    }
    .why-well-card-text-bottom-title{
        font-size: 20px;
        margin-bottom: 7px;
    }
    .why-well-card-text-bottom-item{
        font-size: 16px;
    }
    .why-well-card-text-bottom-item + .why-well-card-text-bottom-item{
        margin-top: 7px;
    }
    #categories.cottage .categories-card{
        width: 100%;
    }
    #variants.cottage .variants-card{
        width: 100%;
    }
}