@font-face {
    font-family: "Cera Pro";
    src: url("fonts/CeraPro-Regular.woff");
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url("fonts/CeraPro-Medium.woff");
}

body {
    margin: 0;
    padding: 0;
    background-color: #dbe4eb;
}
* {
    box-sizing: content-box;
}
.container {
    margin: 0 auto;
    width: 74%;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
    justify-content: space-between;
}
header {
    min-height: 488px;
}
header .top-row {
    min-height: 68px;
    box-sizing: border-box;
    align-items: flex-end;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-bottom: 1px solid #C1C1C1;
    font: normal normal normal 16px/20px Cera Pro;
    letter-spacing: 0px;
    color: #707070;
}
header .top-row .left-side {
    /*display: flex;*/
    justify-content: flex-start;
}
header .top-row .left-side .cell,
header .top-row .right-side .cell {
    min-width: 113px;
    max-height: 60px;
    margin-right: 5px;
    padding: 20px 14px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px #00000029;
    text-align: center;
}

header .top-row .left-side .cell {
    text-transform: uppercase;
}

header .top-row .cell:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px #00000055;
    transition: all 0.2s ease-in-out;
}

header .top-row .right-side {
    justify-content: flex-start;
}

header .top-row .language {
    justify-content: center;
}

header .top-row .right-side .account {
    padding-left: 20px;
    padding-right: 20px;
}


header .middle-row {
    min-height: 106px;
    background-color: #dbe4eb;
    font: normal normal normal 20px/25px Cera Pro Medium;
    letter-spacing: 0px;
}

header .middle-row .container {
    margin: auto;
    height: 100%;
}

header .middle-row .container .row {
    height: 100%;
    align-items: center;
}

header .logo {
    padding-left: 20px;
    padding-top: 19px;
}

header .address,
header .schedule,
header .phones {
    padding-left: 20px;
}

header .address {
    justify-content: start;
}

header .schedule {
    cursor: pointer;
}

header .schedule span{
    padding-left: 5px;
}

header .phones {
    padding-right: 20px;
}

header .phones .cell-icon {
    padding-right: 5px;
}

header .bottom-row {
    min-height: 60px;
    background-color: #005d8f;
}

header .bottom-row .categories,
header .bottom-row .search {
    height: 60px;
    background-color: #4477A6;
}

header .bottom-row .categories {
    width: 345px;
}

header .bottom-row .search {
    width: 829px;
}


@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 74%;
    }
}

@media (max-width: 1674px) {
    header .middle-row .right-cell {
        padding-bottom: 20px;
    }
}

@media (max-width: 1057px) {
    header .middle-row .right-cell {
        padding-top: 10px;
    }
    header .top-row .right-side,
    header .top-row .left-side
    {
        padding-top: 5px;
    }
}