{{ header }}
<div id="banner-top" class="cottage-bg">
    <div class="opacity-bg"></div>
    <div class="container">
        <div class="wrapper">
            <div class="first-title">
                ОЧИСТКА ВОДЫ В КОТТЕДЖЕ
            </div>
            <div class="second-title">
                В вашем доме все должно быть идеально! Чистая и безопасная вода, как на курортах Австрии и Швейцарии.
            </div>
            <div class="button">
                <a href="" class="make-order fm-banner-plus-btn fm-btn">
                    ПОДОБРАТЬ ОБОРУДОВАНИЕ
                </a>
            </div>
        </div>
    </div>
</div>
<div id="why-well">
    <div class="container">
        <div class="landing-title">
            <p class="title-big">ЗАЧЕМ</p>
            <div class="title-inner">
                <p class="title-normal">Зачем воду нужно очищать?</p>
                <p class="title-small">ЧТО НАХОДИТСЯ В ВОДЕ ИЗ СКВАЖИНЫ</p>
            </div>
        </div>
        <div class="row">
            <div class="why-well-card">
                <div class="why-well-card-icon">
                    <img src="..\image\catalog\landing_cottage\icon_drops.svg" alt="">
                </div>
                <div class="why-well-card-box-top">
                    <span class="why-well-card-box-top-title">НЕПРИЯТНЫЙ ЗАПАХ</span>
                    <span class="why-well-card-box-top-text">Запах нефтепродуктов, гнили, сероводорода</span>
                </div>
                <img src="..\image\catalog\landing_cottage\arrow-down.svg" alt="" class="why-well-card-arrow">

                <span class="why-well-card-text-bottom-title">В результате:</span>

                <span class="why-well-card-text-bottom-item">- абсолютная непригодность воды для приготовления пищи</span>
                <span class="why-well-card-text-bottom-item">- риск отравления продуктами распада органики</span>
            </div>

            <div class="why-well-card">
                <div class="why-well-card-icon">
                    <img src="..\image\catalog\landing_cottage\icon_nitrate.svg" alt="">
                </div>
                <div class="why-well-card-box-top">
                    <span class="why-well-card-box-top-title">СОДЕРЖАНИЕ ПЕСТИЦИДОВ</span>
                    <span class="why-well-card-box-top-text">Растворенные нитраты и нитриты, которые попадают с удобряемых полей и огородов</span>
                </div>
                <img src="..\image\catalog\landing_cottage\arrow-down.svg" alt="" class="why-well-card-arrow">

                <span class="why-well-card-text-bottom-title">В результате:</span>

                <span class="why-well-card-text-bottom-item">- снижение иммунитета</span>
                <span class="why-well-card-text-bottom-item">- раковые заболевания</span>
                <span class="why-well-card-text-bottom-item">- тяжелые отравления</span>
            </div>

            <div class="why-well-card">
                <div class="why-well-card-icon">
                    <img src="..\image\catalog\landing_cottage\icon_wave.svg" alt="">
                </div>
                <div class="why-well-card-box-top">
                    <span class="why-well-card-box-top-title">ЖЕСТКАЯ ВОДА</span>
                    <span class="why-well-card-box-top-text">Наличие в воде большого количества солей жесткости</span>
                </div>
                <img src="..\image\catalog\landing_cottage\arrow-down.svg" alt="" class="why-well-card-arrow">

                <span class="why-well-card-text-bottom-title">В результате:</span>

                <span class="why-well-card-text-bottom-item">- Образование налетов и накипи</span>
                <span class="why-well-card-text-bottom-item">- Жесткие волосы и сухая кожа</span>
                <span class="why-well-card-text-bottom-item">- Увеличение расходов на подогрев воды</span>
                <span class="why-well-card-text-bottom-item">- Жесткие волосы и сухая кожа</span>
            </div>

            <div class="why-well-card">
                <div class="why-well-card-icon">
                    <img src="..\image\catalog\landing_cottage\icon_microb.svg" alt="">
                </div>
                <div class="why-well-card-box-top">
                    <span class="why-well-card-box-top-title">ОРГАНИЧЕСКИЕ ЗАГРЯЗНЕНИЯ</span>
                    <span class="why-well-card-box-top-text">Взвешенные микроорганизмы, способствуют цветению воды</span>
                </div>
                <img src="..\image\catalog\landing_cottage\arrow-down.svg" alt="" class="why-well-card-arrow">

                <span class="why-well-card-text-bottom-title">В результате:</span>

                <span class="why-well-card-text-bottom-item">- Слизь в трубах</span>
                <span class="why-well-card-text-bottom-item">- Попадания в организм токсинов, вырабатываемых микроорганизмами</span>
                <span class="why-well-card-text-bottom-item">- Кишечные расстройства</span>
                <span class="why-well-card-text-bottom-item">- Неприятный цвет и запах воды</span>
            </div>

            <div class="why-well-card">
                <div class="why-well-card-icon">
                    <img src="..\image\catalog\landing_cottage\icon_nuclear.svg" alt="">
                </div>
                <div class="why-well-card-box-top">
                    <span class="why-well-card-box-top-title">СОЛИ ТЯЖЕЛЫХ МЕТАЛЛОВ</span>
                    <span class="why-well-card-box-top-text">Продукты распада продуктов, содержащих тяжелые металлы</span>
                </div>
                <img src="..\image\catalog\landing_cottage\arrow-down.svg" alt="" class="why-well-card-arrow">

                <span class="why-well-card-text-bottom-title">В результате:</span>

                <span class="why-well-card-text-bottom-item">- Риск тяжелого отравления токсинами</span>
                <span class="why-well-card-text-bottom-item">- Накопление тяжелых металлов в организме</span>
                <span class="why-well-card-text-bottom-item">- Нарушение работы нервной системы</span>
                <span class="why-well-card-text-bottom-item">- Риск развития физических проблем у детей</span>
            </div>
            <div class="why-well-card">
                <div class="why-well-card-icon">
                    <img src="..\image\catalog\landing_cottage\icon_ground.svg" alt="">
                </div>
                <div class="why-well-card-box-top">
                    <span class="why-well-card-box-top-title">ИЗБЫТОК ЖЕЛЕЗА</span>
                    <span class="why-well-card-box-top-text">Наличие большого количества, железа в почве</span>
                </div>
                <img src="..\image\catalog\landing_cottage\arrow-down.svg" alt="" class="why-well-card-arrow">

                <span class="why-well-card-text-bottom-title">В результате:</span>

                <span class="why-well-card-text-bottom-item">- Наличие ржавых подтеков на трубах и сантехнике</span>
                <span class="why-well-card-text-bottom-item">- Непригодность воды для питья</span>
                <span class="why-well-card-text-bottom-item">- Ржавчина на металлической фурнитуре кухни и ванной</span>
            </div>
        </div>
    </div>
</div>
<div class="decision cottage">
    <img src="..\image\catalog\landing_flat\decision-img.svg" alt="">
    <div class="container">
        <p class="decision-big">У НАС ЕСТЬ РЕШЕНИЕ</p>
        <p class="decision-small">ПРЕДСТАВЬТЕ СВОЙ ДОМ С ИДЕАЛЬНО ЧИСТОЙ ВОДОЙ</p>
    </div>
</div>
<div id="preferences" class="cottage">
    <div class="landing-title">
        <p class="title-big">ПРЕИМУЩЕСТВА</p>
        <div class="title-inner">
            <p class="title-normal">преимущества использования <br> чистой воды в КОТТЕДЖЕ</p>
        </div>
    </div>
    <div class="preferences-item">
        <div class="container">
            <img src="..\image\catalog\landing_flat\preferences1.png" alt="Здоровье">
            <div class="peferences-item-text">
                <span class="preferences-title">Здоровье</span>
                <span class="preferences-description">Безопасная вода для личной гигиены.</span>
                <p class="preferences-text">
                    Особенно важно для маленьких детей, которые часто глотают воду во время купания. Очищенная вода помогает решить проблему сухости и частых раздражений на коже, ломкости волос.
                </p>
            </div>
        </div>
    </div>
    <div class="preferences-item">
        <div class="container">
            <img src="..\image\catalog\landing_flat\preferences2.png" alt="Комфорт">
            <div class="peferences-item-text left">
                <span class="preferences-title">Комфорт</span>
                <span class="preferences-description">Голубая вода в ванной.</span>
                <p class="preferences-text">
                    Да, именно голубая, как на курортах Австрии и Швейцарии. Уборка в ванной комнате станет проще. Чистая вода - сияющая сантехника без налета и ржавчины, плитка без потеков.
                </p>
            </div>
        </div>
    </div>
    <div class="preferences-item">
        <div class="container">
            <img src="..\image\catalog\landing_flat\preferences3.png" alt="Економія">
            <div class="peferences-item-text">
                <span class="preferences-title">Экономия</span>
                <span class="preferences-description">предохраняет ваши приборы, сантехнику, трубы.</span>
                <p class="preferences-text">
                    Так, хороший фильтр, как и другая хорошая техника в доме - не дешевая вещь. Но ценность, которую он приносит в вашу семью, значительно больше. Кроме того, чистая вода повышает эффективность порошка, мыла, средств для мытья посуды.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="lets-go">
    <div class="container">
        <img class="lets-go-img-right" src="..\image\catalog\landing_flat\bulb.png" alt="bulb">
        <p class="decision-small">НАЧНИТЕ Путь к чистой воде</p>
        <div class="button">
            <a href="" class="make-order fm-banner-plus-btn fm-btn">ПОДОБРАТЬ ОБОРУДОВАНИЕ</a>
        </div>
    </div>
</div>
<div id="how">
    <div class="container">
        <div class="landing-title">
            <p class="title-big">КАК</p>
            <div class="title-inner">
                <p class="title-normal">ОЧИСТКА ВОДЫ В КОТЕДЖЕ</p>
            </div>
        </div>
        <img src="..\image\catalog\landing_cottage\shema-big-ua.png" alt="схема">
    </div>
</div>
<script>
        function changeImage() {
            if (document.querySelector('#how img')) {
                let picLang = '';
                let picSize = '';
                document.querySelector('html').getAttribute('lang') == 'ua' ? picLang = 'ua' : picLang = 'ru';
                document.documentElement.clientWidth <= 991 ? picSize = 'small' : picSize = 'big';
                document.querySelector('#how img').src = `../image/catalog/landing_cottage/shema-${picSize}-${picLang}.png`;
            }
        }

        changeImage();
        window.addEventListener(`resize`, event => {
            changeImage();
        }, false);
</script>
<div id="categories" class="cottage">
    <div class="container">
        <div class="landing-title">
            <div class="title-inner">
                <p class="title-normal">КАТЕГОРИИ ТОВАРОВ</p>
            </div>
        </div>
        <div class="row">
            <div class="categories-card">
                <img src="..\image\catalog\landing_flat\pic_kategorii1.png" alt="Механическая очистка">
                <span class="category-name"><a href="/household-filter-ru/mechanical-cleaning-ru">Механическая очистка</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_flat\pic_kategorii2.png" alt="Смягчение воды">
                <span class="category-name"><a href="/household-filter-ua/water-softening-ru">Смягчение воды</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_flat\pic_kategorii3.png" alt="Фильтрационные системы">
                <span class="category-name"><a href="/household-filter-ru/filtration-systems-ru">Фильтрационные системы</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_cottage\pic_kategorii4.png" alt="Системы обратного осмоса">
                <span class="category-name"><a href="/household-filter-ru/commercial-reverse-osmosis-systems-ru">Системы обратного осмоса большой производительности</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_flat\pic_kategorii4.png" alt="УФ обеззараживание">
                <span class="category-name"><a href="/household-filter-ru/UV-disinfection-ru">УФ обеззараживание</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_flat\pic_kategorii5.png" alt="Для питьевой воды">
                <span class="category-name"><a href="/drinkable-water-ru">Для питьевой воды</a></span>
            </div>
        </div>
    </div>
</div>
<div id="variants" class="cottage">
    <div class="container">
        <div class="landing-title">
            <div class="title-inner">
                <p class="title-normal">ГОТОВЫЕ РЕШЕНИЯ ДЛЯ ВАШЕГО ДОМА</p>
            </div>
        </div>
        <div class="row">
            <div class="variants-card" style="background-image: url('/image/catalog/landing_cottage/Slider_1_background.jpg')">
                <span class="variants-title">HOME BWT LITE</span>
                <img src="/image/catalog/landing_cottage/Slider_1_tovar.png" alt="HOUSE ECOMIX LITE">
                <a href="#" class="variants-btn">смотреть</a>
            </div>
            <div class="variants-card" style="background-image: url('/image/catalog/landing_cottage/Slider_2_background.jpg')">
                <span class="variants-title">HOME BWT<br>STANDARD</span>
                <img src="/image/catalog/landing_cottage/Slider_2_tovar.png" alt="HOUSE ECOMIX STANDARD">
                <a href="#" class="variants-btn">смотреть</a>
            </div>
            <div class="variants-card" style="background-image: url('/image/catalog/landing_cottage/Slider_3_background.jpg')">
                <span class="variants-title">HOME BWT<br>ADVANCED</span>
                {# <img src="/image/catalog/landing_flat/Slider_3_tovar.png" alt="HOME BWT LITE"> #}
                <a href="#" class="variants-btn">смотреть</a>
            </div>
        </div>
    </div>
</div>
<div class="select">
    <div class="container">
        <p class="decision-small">ПРОФЕССИОНАЛЬНЫЙ ПОДБОР ОБОРУДОВАНИЯ</p>
        <div class="button">
            <a href="" class="make-order fm-banner-plus-btn fm-btn">ЗАКАЗАТЬ ОБОРУДОВАНИЕ</a>
        </div>
    </div>
</div>

<div id="landing-popup">
    <div class="container">
        <div class="order">
            <img class="close-btn" src="/image/catalog/landing_flat/icon_close.svg" alt="icon_close">
            <div class="title">Заявка на подбор оборудования</div>
            <form action="">
                <div class="wrapper">
                    <p>Ваше имя</p>
                    <input class="required" name="name" type="text">
                    <p>Телефон:</p>
                    <input class="required" name="phone" type="text">
                    <p class="bigger-marg">E-mail:</p>
                    <input class="required" name="mail" type="text">
                    <input type="hidden" name="landing" value='"В квартире"'>
                    <input id="send" type="submit" value="ОТПРАВИТЬ">
                </div>
            </form>
        </div>
    </div>
</div>
<div id="popup-post">
    <div class="container">
        <div class="post-message">
            Спасибо за обращение! Мы скоро с вами свяжемся.
        </div>
    </div>
</div>
{{ footer }}