{{ header }}
<div id="banner-top" class="flat-bg">
    <div class="opacity-bg"></div>
    <div class="container">
        <div class="wrapper">
            <div class="first-title">
                ОЧИЩЕННЯ ВОДИ В КВАРТИРІ
            </div>
            <div class="second-title">
                Безпечна та комфортна, блакитна вода для Вашого здоров'я, краси і блискучої домівки без нальотів та іржі
            </div>
            <div class="button">
                <a href="" class="fm-banner-plus-btn fm-btn">
                    ПІДІБРАТИ ОБЛАДНАННЯ
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">

</div>
{#<script>
    $.post('/index.php?route=common/landing_mail_sender/send', 'landing=%22%D0%92%20%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B8%D1%80%D0%B5%22&name=asd&phone=123&mail=email.com', function (data) {
        console.log(data);
    });
</script>#}
{{ footer }}