{{ header }}
<div id="banner-top" class="cottage-bg">
    <div class="opacity-bg"></div>
    <div class="container">
        <div class="wrapper">
            <div class="first-title">
                ОЧИЩЕННЯ ВОДИ В КОТЕДЖІ
            </div>
            <div class="second-title">
                У вашому будинку все повинно бути ідеально! Чиста і безпечна вода, як на курортах Австрії та Швейцарії.
            </div>
            <div class="button">
                <a href="" class="fm-banner-plus-btn fm-btn">
                    ПІДІБРАТИ ОБЛАДНАННЯ
                </a>
            </div>
        </div>
    </div>
</div>
<div id="why-well">
    <div class="container">
        <div class="landing-title">
            <p class="title-big">ЧОМУ</p>
            <div class="title-inner">
                <p class="title-normal">Чому воду потрібно очищати?</p>
                <p class="title-small">ЩО ЗНАХОДИТЬСЯ У ВОДІ ЗІ СВЕРДЛОВИНИ</p>
            </div>
        </div>
        <div class="row">
            <div class="why-well-card">
                <div class="why-well-card-icon">
                    <img src="..\image\catalog\landing_cottage\icon_drops.svg" alt="">
                </div>
                <div class="why-well-card-box-top">
                    <span class="why-well-card-box-top-title">НЕПРИЄМНИЙ ЗАПАХ</span>
                    <span class="why-well-card-box-top-text">Запах нафтопродуктів, гнилі, сірководню</span>
                </div>
                <img src="..\image\catalog\landing_cottage\arrow-down.svg" alt="" class="why-well-card-arrow">

                <span class="why-well-card-text-bottom-title">В результаті:</span>

                <span class="why-well-card-text-bottom-item">- абсолютна непридатність води для приготування їжі</span>
                <span class="why-well-card-text-bottom-item">- ризик отруєння продуктами розпаду органіки</span>
            </div>

            <div class="why-well-card">
                <div class="why-well-card-icon">
                    <img src="..\image\catalog\landing_cottage\icon_nitrate.svg" alt="">
                </div>
                <div class="why-well-card-box-top">
                    <span class="why-well-card-box-top-title">ЗМІСТ ПЕСТИЦИДІВ</span>
                    <span class="why-well-card-box-top-text">Розчинені нітрати і нітрити, які потрапляють з удобрюваних полів і городів</span>
                </div>
                <img src="..\image\catalog\landing_cottage\arrow-down.svg" alt="" class="why-well-card-arrow">

                <span class="why-well-card-text-bottom-title">В результаті:</span>

                <span class="why-well-card-text-bottom-item">- Зниження імунітету</span>
                <span class="why-well-card-text-bottom-item">- ракові захворювання</span>
                <span class="why-well-card-text-bottom-item">- важкі отруєння</span>
            </div>

            <div class="why-well-card">
                <div class="why-well-card-icon">
                    <img src="..\image\catalog\landing_cottage\icon_wave.svg" alt="">
                </div>
                <div class="why-well-card-box-top">
                    <span class="why-well-card-box-top-title">ЖОРСТКА ВОДА</span>
                    <span class="why-well-card-box-top-text">Наявність у воді великої кількості солей жорсткості</span>
                </div>
                <img src="..\image\catalog\landing_cottage\arrow-down.svg" alt="" class="why-well-card-arrow">

                <span class="why-well-card-text-bottom-title">В результаті:</span>

                <span class="why-well-card-text-bottom-item">- Утворення нальотів і накипу</span>
                <span class="why-well-card-text-bottom-item">- Жорстке волосся і суха шкіра</span>
                <span class="why-well-card-text-bottom-item">- Збільшення витрат на підігрів води</span>
                <span class="why-well-card-text-bottom-item">- Жорстке волосся і суха шкіра</span>
            </div>

            <div class="why-well-card">
                <div class="why-well-card-icon">
                    <img src="..\image\catalog\landing_cottage\icon_microb.svg" alt="">
                </div>
                <div class="why-well-card-box-top">
                    <span class="why-well-card-box-top-title">ОРГАНІЧНІ ЗАБРУДНЕННЯ</span>
                    <span class="why-well-card-box-top-text">Зважені мікроорганізми, сприяють цвітінню води</span>
                </div>
                <img src="..\image\catalog\landing_cottage\arrow-down.svg" alt="" class="why-well-card-arrow">

                <span class="why-well-card-text-bottom-title">В результаті:</span>

                <span class="why-well-card-text-bottom-item">- Слиз в трубах</span>
                <span class="why-well-card-text-bottom-item">- попадання в організм токсинів, що виробляються мікроорганізмами</span>
                <span class="why-well-card-text-bottom-item">- Кишкові розлади</span>
                <span class="why-well-card-text-bottom-item">- Неприємний колір і запах води</span>
            </div>

            <div class="why-well-card">
                <div class="why-well-card-icon">
                    <img src="..\image\catalog\landing_cottage\icon_nuclear.svg" alt="">
                </div>
                <div class="why-well-card-box-top">
                    <span class="why-well-card-box-top-title">СОЛІ ВАЖКИХ МЕТАЛІВ</span>
                    <span class="why-well-card-box-top-text">Продукти розпаду продуктів, що містять важкі метали</span>
                </div>
                <img src="..\image\catalog\landing_cottage\arrow-down.svg" alt="" class="why-well-card-arrow">

                <span class="why-well-card-text-bottom-title">В результаті:</span>

                <span class="why-well-card-text-bottom-item">- Ризик важкого отруєння токсинами</span>
                <span class="why-well-card-text-bottom-item">- Накопичення важких металів в організмі</span>
                <span class="why-well-card-text-bottom-item">- Порушення роботи нервової системи</span>
                <span class="why-well-card-text-bottom-item">- Ризик розвитку фізичних проблем у дітей</span>
            </div>
            <div class="why-well-card">
                <div class="why-well-card-icon">
                    <img src="..\image\catalog\landing_cottage\icon_ground.svg" alt="">
                </div>
                <div class="why-well-card-box-top">
                    <span class="why-well-card-box-top-title">НАДЛИШОК ЗАЛІЗА</span>
                    <span class="why-well-card-box-top-text">Наявність великої кількості, заліза в грунті</span>
                </div>
                <img src="..\image\catalog\landing_cottage\arrow-down.svg" alt="" class="why-well-card-arrow">

                <span class="why-well-card-text-bottom-title">В результаті:</span>

                <span class="why-well-card-text-bottom-item">- Наявність іржавих патьоків на трубах і сантехніці</span>
                <span class="why-well-card-text-bottom-item">- Непридатність води для пиття</span>
                <span class="why-well-card-text-bottom-item">- Іржа на металевій фурнітурі кухні та ванної</span>
            </div>
        </div>
    </div>
</div>
<div class="decision cottage">
    <img src="..\image\catalog\landing_flat\decision-img.svg" alt="">
    <div class="container">
        <p class="decision-big">У НАС Є РІШЕННЯ</p>
        <p class="decision-small">УЯВІТЬ СВІЙ ДІМ З ІДЕАЛЬНО ЧИСТОЮ ВОДОЮ</p>
    </div>
</div>
<div id="preferences" class="cottage">
    <div class="landing-title">
        <p class="title-big">ПЕРЕВАГИ</p>
        <div class="title-inner">
            <p class="title-normal">переваги використання<br>чистої води в КОТЕДЖІ</p>
        </div>
    </div>
    <div class="preferences-item">
        <div class="container">
            <img src="..\image\catalog\landing_flat\preferences1.png" alt="Здоров'я">
            <div class="peferences-item-text">
                <span class="preferences-title">Здоров'я</span>
                <span class="preferences-description">Безпечна вода для особистої гігієни.</span>
                <p class="preferences-text">
                    Особливо важливо для маленьких дітей, які часто ковтають воду під час купання. Очищена вода допомагає вирішити проблему сухості і частих подразнень на шкірі, ламкості волосся.
                </p>
            </div>
        </div>
    </div>
    <div class="preferences-item">
        <div class="container">
            <img src="..\image\catalog\landing_flat\preferences2.png" alt="Комфорт">
            <div class="peferences-item-text left">
                <span class="preferences-title">Комфорт</span>
                <span class="preferences-description">Блакитна вода у ванній.</span>
                <p class="preferences-text">
                    Так, саме блакитна, як на курортах Австрії та Швейцарії. Прибирання у ванній кімнаті стане простіше. Чиста вода - сяюча сантехніка без нальоту та іржі, плитка без потьоків.
                </p>
            </div>
        </div>
    </div>
    <div class="preferences-item">
        <div class="container">
            <img src="..\image\catalog\landing_flat\preferences3.png" alt="Економія">
            <div class="peferences-item-text">
                <span class="preferences-title">Економія</span>
                <span class="preferences-description">оберігає ваші прилади, сантехніку, труби.</span>
                <p class="preferences-text">
                    Так, хороший фільтр, як і інша хороша техніка в будинку, - не дешева річ. Але цінність, яку він приносить в вашу родину, значно більша. Крім того, чиста вода підвищує ефективність порошку, мила, засобів для миття посуду.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="lets-go">
    <div class="container">
        <img class="lets-go-img-right" src="..\image\catalog\landing_flat\bulb.png" alt="bulb">
        <p class="decision-small">ПОЧНІТЬ Шлях до чистої води</p>
        <div class="button">
            <a href="" class="fm-banner-plus-btn fm-btn">ПІДІБРАТИ ОБЛАДНАННЯ</a>
        </div>
    </div>
</div>
<div id="how">
    <div class="container">
        <div class="landing-title">
            <p class="title-big">ЯК</p>
            <div class="title-inner">
                <p class="title-normal">ОЧИЩЕННЯ ВОДИ В КОТЕДЖІ</p>
            </div>
        </div>
        <img src="..\image\catalog\landing_cottage\shema-big-ua.png" alt="схема">
    </div>
</div>
<div id="categories" class="cottage">
    <div class="container">
        <div class="landing-title">
            <div class="title-inner">
                <p class="title-normal">КАТЕГОРІЇ ТОВАРІВ</p>
            </div>
        </div>
        <div class="row">
            <div class="categories-card">
                <img src="..\image\catalog\landing_cottage\pic_kategorii1.png" alt="Механічне очищення">
                <span class="category-name" href="#"><a>Механічне очищення</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_cottage\pic_kategorii2.png" alt="Механічне очищення">
                <span class="category-name" href="#"><a>Пом’якшення води</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_cottage\pic_kategorii3.png" alt="Механічне очищення">
                <span class="category-name" href="#"><a>Фільтраційні системи</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_cottage\pic_kategorii4.png" alt="Механічне очищення">
                <span class="category-name" href="#"><a>Системи зворотного осмосу великої продуктивності</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_cottage\pic_kategorii5.png" alt="Механічне очищення">
                <span class="category-name" href="#"><a>УФ знезаражування</a></span>
            </div>
            <div class="categories-card">
                <img src="..\image\catalog\landing_cottage\pic_kategorii6.png" alt="Механічне очищення">
                <span class="category-name" href="#"><a>Для питної води</a></span>
            </div>
        </div>
    </div>
</div>
<div id="variants" class="cottage">
    <div class="container">
        <div class="landing-title">
            <div class="title-inner">
                <p class="title-normal">ГОТОВІ РІШЕННЯ ДЛЯ ВАШОГО БУДИНКУ</p>
            </div>
        </div>
        <div class="row">
            <div class="variants-card" style="background-image: url('../image/catalog/landing_flat/Slider_1_background.png')">
                <span class="variants-title">HOUSE ECOMIX LITE</span>
                <img src="../image/catalog/landing_cottage/Slider_1_tovar.png" alt="HOUSE ECOMIX LITE">
                <a href="#" class="variants-btn">дивитися</a>
            </div>
            <div class="variants-card" style="background-image: url('../image/catalog/landing_flat/Slider_2_background.png')">
                <span class="variants-title">HOUSE ECOMIX STANDARD</span>
                <img src="../image/catalog/landing_cottage/Slider_2_tovar.png" alt="HOME BWT LITE">
                <a href="#" class="variants-btn">дивитися</a>
            </div>
            <div class="variants-card" style="background-image: url('../image/catalog/landing_flat/Slider_3_background.png')">
                <span class="variants-title">HOUSE RO ADVANCED</span>
                <img src="../image/catalog/landing_flat/Slider_3_tovar.png" alt="HOME BWT LITE">
                <a href="#" class="variants-btn">дивитися</a>
            </div>
        </div>
    </div>
</div>
<div class="select">
    <div class="container">
        <p class="decision-small">ПРОФЕСІЙНИЙ ПІДБІР ОБЛАДНАННЯ</p>
        <div class="button">
            <a href="" class="fm-banner-plus-btn fm-btn">ЗАМОВИТИ ОБЛАДНАННЯ</a>
        </div>
    </div>
</div>
{{ footer }}