{{ header }}
<div id="banner-top">
    <div class="opacity-bg"></div>
    <div class="container">
        <div class="wrapper">
            <div class="first-title">
                ОЧИЩЕННЯ ВОДИ В КВАРТИРІ
            </div>
            <div class="second-title">
                Безпечна та комфортна, блакитна вода для Вашого здоров'я, краси і блискучої домівки без нальотів та іржі
            </div>
            <div class="button">
                <a href="" class="fm-banner-plus-btn fm-btn">
                    ПІДІБРАТИ ОБЛАДНАННЯ
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">

</div>
{{ footer }}