{{ header }}
<div id="banner-top" class="cottage-bg">
    <div class="opacity-bg"></div>
    <div class="container">
        <div class="wrapper">
            <div class="first-title">
                ОЧИЩЕННЯ ВОДИ В КОТЕДЖІ
            </div>
            <div class="second-title">
                У вашому будинку все повинно бути ідеально! Чиста і безпечна вода, як на курортах Австрії та Швейцарії.
            </div>
            <div class="button">
                <a href="" class="fm-banner-plus-btn fm-btn">
                    ПІДІБРАТИ ОБЛАДНАННЯ
                </a>
            </div>
        </div>
    </div>
</div>
{{ footer }}